grant {
  permission java.util.PropertyPermission "*", "read,write";
  permission java.net.SocketPermission "*:636", "connect,resolve";
  permission java.lang.RuntimePermission "accessDeclaredMembers";
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  permission java.io.FilePermission "bundle.crt", "read";
};
